In [ ]:
# The trouble with this kyu was how to turn a list into a circle
# I went the brute force way and simply multiplied the list as many time as was needed
# But could also have done so using %

In [1]:
# My Method:

In [7]:
# Start shortening by equating in one line
def josephus(tom,k):
    if not tom:
        return []
    tim, tam, n = list(enumerate(tom)) * 100, [], k - 1
    while tim and len(tam) != len(tom) - 1:
        tum = tim[n]
        tam.append(tum[1])
        [tim.remove(tim[0]) for x in list(range(n))] 
        [tim.remove(x) for x in tim if x == tum]
    tam.append(tim[0][1])
    return tam

In [8]:
josephus([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],4)

[4, 8, 12, 1, 6, 11, 2, 9, 15, 10, 5, 3, 7, 14, 13]

In [86]:
# Create a circle using %

In [84]:
def josephus_2 (tom, k):
    n , tam = 0, []
    while tom:
        n = (n + k - 1)%len(tom) 
        tam.append(tom.pop(n))
    return tam

In [85]:
josephus_2([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],4)

[4, 8, 12, 1, 6, 11, 2, 9, 15, 10, 5, 3, 7, 14, 13]

In [70]:
n = 15
k = 4
tom = [2,3,5,7,9,10,11,13,14,15]

In [71]:
n + k -1

18

In [72]:
len(tom)

10

In [73]:
r = (n + k -1)%(len(tom)+1)
r

7

In [74]:
tom[r]

13

In [64]:
12%(12+1)

12

In [4]:
tom.pop(2)

3

In [145]:
tom = [True,False,True,False,True,False,True,False,True]

In [146]:
tim = list(enumerate(tom)) * 190

In [147]:
tam = []
n = 8
while tim and len(tam) != len(tom) - 1:
    print(tam)
    tum = tim[n]
    tam.append(tum[1])
    [tim.remove(tim[0]) for x in list(range(n))] 
    [tim.remove(x) for x in tim if x == tum] 
tam

[]
[True]
[True, True]
[True, True, True]
[True, True, True, False]
[True, True, True, False, False]
[True, True, True, False, False, True]
[True, True, True, False, False, True, False]

[True, True, True, False, False, True, False, True]

In [ ]:
[tim.remove(x) for x in tim if x == 2]

In [4]:
tom = tim[2]
tom

3

In [5]:
tam = []
tam.append(tom)
tam

[3]

In [6]:
[tim.remove(x) for x in tim if x == tom]

[None, None, None, None, None, None, None]

In [7]:
tim

[1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7,
 1,
 2,
 4,
 5,
 6,
 7]

In [80]:
[x for x in list(range(0))]

[]

In [95]:
list(range(3))

[0, 1, 2]