In [120]:
def som (name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    return sum([i for x in name.lower() for i,y in enumerate(alphabet,1) if x == y]) + len(name)
def rank (names, weight, n):
    if not names: return 'No participants'
    elif n > len(names.split(',')): return 'Not enough participants'
    return sorted(sorted([[x * y,z] for i,x in enumerate([som(x) for x in names.split(',')]) for r,y in enumerate(weight) for h,z in enumerate(names.split(',')) if i == r == h]),reverse=True, key= lambda t: t[0])[n-1][1]

In [1]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

In [2]:
enumerate(alphabet,1)

26

In [6]:
name = 'Paul'

In [9]:
sum([i for i,x in enumerate(alphabet,1) if x in name.lower()]) + len(name)

54

In [72]:
def som (name):
    alphabet = 'abcdefghijklmnopqrstuvwxyz'
    return sum([i for x in name.lower() for i,y in enumerate(alphabet,1) if x == y]) + len(name)

In [121]:
names= 'Aubrey,Olivai,Abigail,Chloe,Andrew,Elizabeth'
weights= [3, 1, 4, 4, 3, 2]
n= 4

In [83]:
list(enumerate(weights))

[(0, 3), (1, 1), (2, 4), (3, 4), (4, 3), (5, 2)]

In [84]:
tom = [[x * y,z] for i,x in enumerate([som(x) for x in names.split(',')]) for r,y in enumerate(weights) for h,z in enumerate(names.split(',')) if i == r == h]

In [112]:
sorted(tom)

[[74, 'Olivai'],
 [192, 'Abigail'],
 [192, 'Chloe'],
 [194, 'Elizabeth'],
 [213, 'Andrew'],
 [234, 'Aubrey']]

In [119]:
sorted(sorted(tom), reverse= True, key =lambda t: t[0])

[[234, 'Aubrey'],
 [213, 'Andrew'],
 [194, 'Elizabeth'],
 [192, 'Abigail'],
 [192, 'Chloe'],
 [74, 'Olivai']]

In [95]:
tom[1][1]

'Olivai'

In [122]:
rank(names,weights,n)

'Abigail'

In [52]:
rank("Addison,Jayden,Sofia,Michael,Andrew,Lily,Benjamin", [4, 2, 1, 4, 3, 1, 2], 4)

'Jayden'

In [62]:
som('Jayden') * 2

130

In [64]:
som('Benjamin') * 2

124

In [65]:
[x for i,x in enumerate(alphabet,1) if x in 'Benjamin']

['a', 'e', 'i', 'j', 'm', 'n']

In [71]:
[i for x in 'benjamin' for i,y in enumerate(alphabet,1) if x == y]

[2, 5, 14, 10, 1, 13, 9, 14]