In [302]:
# Both methods use the same idea- just that one is written after fully understanding and the other is only after half understanding
# The idea is that even with 12 digits the max sum of all digits- can only be 109
# Thus greatly reduces the numbers we have to use to solve!

In [ ]:
# Method 1 (After actually getting it)
def power_sumDigTerm(n):
    return sorted([x**y for x in range(109) for y in range(14) if sum([int(r) for r in str(x**y)]) == x and x**y > 80])

In [288]:
# Method 2 (What I had used to solve after partially understanding)
from itertools import combinations_with_replacement

def power (n):
    if n in [sum([int(x) for x in str(n)]) ** y for y in [3,4,5,6,7,8,9,10,13]]:
        return n
    else: return None

def power_sumDigTerm(n):
    print(n)
    if n == 1: return 81
    elif n > 35: t = 11
    elif n > 15: t = 10
    else: t = 5
    numbers= [0,1,2,3,4,5,6,7,8,9]
    tom = [sum(x) ** y for x in combinations_with_replacement(numbers,t) for y in [3,4,5,6,7,8,9,10,13]]
    return sorted([x for x in {x for x in tom} if x> 511 and power(x) == x])[n-2]

In [134]:
from itertools import combinations_with_replacement

In [67]:
numbers= [0,1,2,3,4,5,6,7,8,9]

In [303]:
max([sum(x) for x in combinations_with_replacement(numbers,12)])

108

In [290]:
sorted([x for x in {x for x in tom} if x> 511 and power(x) == x])

[512,
 2401,
 4913,
 5832,
 17576,
 19683,
 234256,
 390625,
 614656,
 1679616,
 17210368,
 34012224,
 52521875,
 60466176,
 205962976,
 612220032,
 8303765625,
 10460353203,
 24794911296,
 27512614111,
 52523350144,
 68719476736,
 271818611107,
 1174711139837,
 2207984167552,
 6722988818432,
 20047612231936,
 72301961339136,
 248155780267521,
 3904305912313344,
 45848500718449031,
 81920000000000000,
 150094635296999121,
 13744803133596058624,
 19687440434072265625,
 53861511409489970176,
 73742412689492826049,
 179084769654285362176,
 671088640000000000000,
 14076019706120526112710656,
 146853371345156431381127623,
 166507350731038802170609664,
 213292826014568334917410816,
 240984500018808097135911707]

In [149]:
tuple(int(x) for x in str(cool[0]))

(5, 1, 2)

In [213]:
power(13744803133596058624)

In [187]:
[sum([int(x) for x in str(n)]) ** y for y in [3,4,5]]

[512, 4096, 32768]

In [279]:
n =81920000000000000

In [285]:
[sum([int(x) for x in str(n)]) ** y for y in [3,4,5,6,7,8,9,10,13]]

[8000,
 160000,
 3200000,
 64000000,
 1280000000,
 25600000000,
 512000000000,
 10240000000000,
 81920000000000000]

In [274]:
power_sumDigTerm(34)

34

150094635296999121

In [301]:
sorted([x**y for x in range(109) for y in range(14) if sum([int(r) for r in str(x**y)]) == x and x**y > 80])

13744803133596058624

In [297]:
x = 8
y = 3
sum([int(r) for r in str(x**y)]) == x

True